<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>メモアプリ ログインページ</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
        <link rel="stylesheet" type="text/css" href="/view/css/memo.css">
    </head>
    <section class="hero is-primary">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              メモアプリ
            </h1>
            <h2 class="subtitle">
              メモをクラウドに保存できます。
            </h2>
          </div>
        </div>
    </section>
    <body>
        <section class="section">
            <div class="container">
                <div>Googleアカウントでログインして利用を開始する。</div>
                <button class="button is-link" onclick="link()">Googleアカウントでログイン</button>
            <div>
        </section>
    </body>
</html>

<script type="text/javascript">
    function link() {
        document.location = "/auth/login/google"
    }
    </script>